
  /* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap'); */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */

}
body,button,input{
  font-family: 'Lato', sans-serif;
}
body{
  background-color: rgb(33,33,33);
  width: 100vw;
  /* overflow-x: hidden; */
  height: 100vh;
}